
.s-dashboard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding: 15px;
  }
  
  .s-d-i {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 250px;
    transition: transform 0.3s ease;
  }
  
  .s-d-i:hover {
    transform: translateY(-5px);
  }
  
  .s-d-i h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .stat-value h1 {
    font-size: 3em;
    margin: 0;
    color: #00796b;
  }
  .s-dashboard{
    width: 100%;
    display: inline-block;
}
.s-d-i{
    width: 25%;
    display: inline-block;  
    margin: 15px;
}
@media screen and (orientation:portrait) {
  .s-d-i {
    flex: 1 1 calc(30% - 10px);
    margin: 10px 4px;
    min-width: 8.5rem;
    overflow: hidden;
  }
}
@media screen and (max-width:500px) {
  .s-d-i {
    flex: 1 1 calc(30% - 10px);
    margin: 10px 4px;
    min-width: 9.5rem;
    overflow: hidden;
  }
}
@media screen and (max-width:400px) {
  .s-d-i {
    flex: 1 1 calc(30% - 10px);
    margin: 10px 4px;
    min-width: 8.5rem;
    overflow: hidden;
  }
  @media screen and (max-width:360px) {
    .dash-main{
      display: inline-block;
      padding-left: 0.1rem;
      margin-top: 1rem;
    }
    .s-d-i {
      display: inline-block;
      flex: none;
      margin: 0.1rem;
      width: 1.1rem;
      max-width: 1.1rem;
      font-size: small;
    }
    .s-dashboard {
      // width: max-content;
   
      gap: 30px;
      justify-content:center;
      padding: 1px;
      height: 100%;
      // margin-bottom: 10rem;
    }
    
    .s-d-i {
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1px;
      flex: 1 1 calc(40% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-width: 250px;
      transition: transform 0.3s ease;
      margin: 1rem;
     position: relative;
     left:5%;
    }
  }
}