<div class="requests">
    <!-- admin.component.html -->
    <!-- <div *ngIf="requirements.length == 0" style="background-color: white; padding: 4px 8px; border: #c8c9d4 1.5px solid; color:#0D1282; width:max-content; border-radius: 9px; position: relative; margin-top: 1rem;">
         No Pending Requirements
    </div> -->
    <div class="request" *ngFor="let req of requirements">
        <div class="r-s-t">
            <p>{{ truncateText(req.reqDetails, 15) }}..</p>
       
        </div>
        <div class="r-s-btn">
            <button class="v-b" *ngIf="req.reqDetails.length > 1" [routerLink]="['/supplier/sup-requested/', req.customIdentifier]">View..</button>
            <!-- <button class="f-s" *ngIf="req.status === 'Pending'">Forward to Suppliers</button>
            <button class="f-d" *ngIf="req.status === 'Forwarded'">Forwarded</button> -->
        </div>
    </div>
</div>
