<div class="card-main">
  <div *ngIf="cart.length < 1" class="checkout-all">
    <p>Your Cart is empty</p>
  </div>

  <div *ngIf="cart.length > 1" class="checkout-all">
    <button (click)="checkoutAllItems()">
      <mat-icon>shopping_cart</mat-icon>
      Checkout All items
    </button>
  </div>

  <div *ngIf="cart.length >= 1" class="checkout-all">
    <p>Total Cart Items: {{cart.length}}</p>
  </div>

  <div class="cart">
    <div class="cart-item" *ngFor="let citem of cart">
      <div class="c-i-sub2">
        <img [src]="citem.product.images[0]" alt="{{citem.product.prodName}}">
        <div class="product-details">
          <h2>{{citem.product.prodName}}</h2>
          <p>Quantity: <span>{{citem.quantity}}</span></p>
          <div class="item-actions">
            <button class="b1" (click)="checkoutSingleItem()">
              Checkout
            </button>
            <button class="delete-btn" (click)="deleteCart(citem._id, token, citem.quantity)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <app-checkout-modal *ngIf="showModal2" [user]="user"
        (confirmCheckout)="confirmCheckoutSingle(citem.product._id, $event)"></app-checkout-modal>
    </div>
  </div>

  <app-checkout-modal *ngIf="showModal" [user]="user" (confirmCheckout)="confirmCheckout($event)"></app-checkout-modal>
</div>