.notifi-main{
    width: 75%;
}
.notification {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .notification.unread {
    background-color: #eaf6ff;
  }
  
  .icon {
    font-size: 24px;
    color: #4a90e2;
    margin-right: 10px;
    width: max-content;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .content .message {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
  }
  
  .content .date {
    font-size: 14px;
    color: #888;
  }
  
  .status {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    width: max-content;
  }
  
  .read-status {
    background-color: #4caf50;
  }
  
  .unread-status {
    background-color: #ff5722;
  }
  @media screen and (orientation:portrait) {
    .notifi-main{
      width: 100%;
      margin: 0;
      padding: 0;
      padding-left: 0.5rem;
  }
  .notification{
    width: 100%;
    font-size: small;
    padding: 7px;

  }
  .icon{
    width:10%;
    margin-left: 0.2rem;
    margin-right: 0.4rem;
  }
  .status{
    width:20%;
  }
 
  }