.view-prod{
    width: 100%;
    display: grid;
    // justify-items: center;
    background-color: #EBF4F6;
    // padding: 10px 20px;
    height: max-content;
    max-height: 100vh;
}
.view-main{
    overflow-y:auto;
}
img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-right: 0.5rem;
}
.product-details{
    width: 60%;
   display: flex;
   flex-direction: row;
   padding: 2rem 0;
}
.product-info{
    display: flex;
}
.pro-a{
  margin-top: -1rem;
}
.position-item{
    margin-left: -1rem;
}
@media screen and (orientation:portrait) {
    .product-image{
        margin-bottom: 1.5rem;
    }
    img{
        width: 16rem;

    }
    .product-details{
        width: 100%;
       display: grid;
    //    flex-direction: row;
    }
}