.b-d-i {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: white;
  color: #161D6F;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.buyer-data {
  display: flex;
  width: 100%;

}

.b-d-i mat-icon {
  margin-right: 4px;
  width: max-content;
  padding-right: 8px;
}

// .buy-head h2{
//   m
// }

@media screen and (orientation:portrait) {
  .buyer-data {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  .b-d-i {
    width: min-content;
    font-size: small;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }

  .b-d-i span {
    width: 100%;
  }

  .buy-head {
    height: max-content;
    overflow: hidden;
  }

  .buy-head h1 {
    font-size: x-large;
    height: 100%;
  }

  .b-d-i mat-icon {
    width: auto;
    font-size: 20px;
    margin-right: 2px;

  }

  .n1 {
    width: 10px;

  }

  .categories-container {
    width: 100%;
  }
}

h1 .span {
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 255, 0.2) 0px 7px 29px 0px;
  width: max-content;
  margin-left: 0.4rem;
  margin-top: 1rem;
  position: relative;
  top: 0.3rem;
}