/* Styling for the search section */
.search-container {
    display: block;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .search-container input {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .search-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  .search-container .srch-btn,
  .search-container .rst-btn {
    width: max-content;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  .search-container .srch-btn {
    background-color: #28a745;
    color: white;
  }
  
  .search-container .srch-btn:hover {
    background-color: #218838;
  }
  
  .search-container .rst-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .search-container .rst-btn:hover {
    background-color: #c82333;
  }
  
  /* Styling for product results */
  .results-container {
    gap: 20px;
    margin-top: 20px;
    max-width: 80%;
    display: inline-block;

  }
  
  .product-card {
    display: inline-block;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 8px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    background-color: white;
  }
  
  .product-card img {
    max-width: 40%;
    // height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .product-card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .product-card .price {
    font-weight: bold;
    font-size: 1.1rem;
    color: #007bff;
  }
  @media screen and (orientation:portrait) {
    .results-container {
        width: 98%;
        font-size: small;
        gap: 8px;
    }
    .product-card{
        width: 40%;
        padding: 10px;
    }
  }