/* requirement-detail.component.scss */
.container{
    width: 60%;
}
.product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-control {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
  }
  
  .img-preview {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .img-product {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .img-preview,
    .img-product {
      max-width: 100%;
    }
  }